<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Send debug messages to System.out -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>

<!--  <logger name="com.github.kklisura.cdt.launch.chrome.output" level="DEBUG" />-->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>